/*! MIT License | https://github.com/fagci/minimalistic-site-snippets/ */
[hidden] { display: none !important } 
.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }

.b { font-weight: bolder }
.i { font-style: italic }

.flex, .flex-wrap {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .mobile-hide {
    display: none !important;
  }
}
