/*! MIT License | https://github.com/fagci/minimalistic-site-snippets/ */
[hidden] { display: none !important } 
.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }

.b { font-weight: bolder }
.i { font-style: italic }

.flex, .flex-wrap, .flex-between, .flex-ycenter {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-ycenter {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .mobile-hide {
    display: none !important;
  }
}

.smart-padding {
  padding-left: 2.5% calc(((100% - 1260px) / 2));
  padding-right: 2.5% calc(((100% - 1260px) / 2));
}

@media (max-width: 1323px) {
  .smart-padding {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
