html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#header, #footer {
  padding: 16px 3.5vmax;
}

main {
  padding: 3.5vmax;
}

.header-nav {
  display: flex;
  gap: 2vmax;
  text-transform: uppercase;
}
