html, body {
  min-height: 100%;
}

#header, #footer {
  padding: 16px 3.5vmax;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  padding: 3.5vmax;
}

.header-nav {
  display: flex;
  gap: 2vmax;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}
