a.active, a:target {
  font-weight: bolder;
  color: var(--c-link);
}

#header {
  background-color: var(--c-primary);
}

#header a {
  color: #fff;
}

.toc:first-of-type {
  position: sticky;
  top: 0;
  background: #f0f0f0;
  gap: 16px;
  display: flex;
  padding: 8px 3.5vmax;
  flex-flow: column;
  float: right;
}
