a.active {
  font-weight: bolder;
  color: var(--c-link);
}

#header {
  background-color: var(--c-primary);
}

#header a {
  color: #fff;
}

.toc:first-of-type {
  position: sticky;
  top: 0;
  background: #fafafa;
  gap: 0.375em;
  display: flex;
  padding: 16px 3.5vmax;
  flex-flow: column;
  float: right;
}
