a.active {
  font-weight: bolder;
  color: var(--c-link);
}

#header {
  background-color: var(--c-primary);
}

#header a {
  color: #fff;
}

.toc:first-of-type {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 8px 0;
  gap: 16px;
  display: flex;
}
