html {
  font-size: 100%;
}

@media (min-width: 40em) {
  html {
    font-size: 112.5%;
  }
}

body {
  font: 1em/1.6 sans-serif;
}

ul {
  padding: 0 0 0 0.75em;
}

p,
ul,
ol,
table,
small,
hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  max-width: 66ch;
}

li {
  margin-bottom: 0.75em;
}

small {
  display: inline-block;
  font-size: 80%;
  line-height: 1.25em;
  color: #666;
}

hr {
  border: none;
  background-color: var(--c-border);
  height: 1px;
  margin-left: 0;
  margin-right: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.25em 0 0.25em;
  line-height: 1.2;
  max-width: 60ch;
}

h1 {
  margin-top: 0;
}

h1 {
  font-size: 2.074em;
}
  
h2 {
  font-size: 1.728em;
}
  
h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

a:not(:hover) {
  text-decoration: none;
}

blockquote {
  border-left: 2px solid #888;
}

table {
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid var(--c-border);
}
