:root {
  --ff-sans-serif: sans-serif;
  --ff-monospace: "Fira code", "Hasklig", "Iosevka Term", "Iosevka", "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --ff-condensed: "DINNextW01-CondensedMed", "AvenirNextCondensed-Bold", "Futura-CondensedExtraBold", HelveticaNeue-CondensedBold, "Ubuntu Condensed", "Liberation Sans Narrow", "Franklin Gothic Demi Cond", "Arial Narrow", "Roboto Condensed", sans-serif-condensed, Arial, "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}

html {
  font-size: 100%;
}

@media (min-width: 40em) {
  html {
    font-size: 112.5%;
  }
}

body {
  font: 1em/1.6 var(--ff-sans-serif);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0 0 0 0.875em;
}

p,
ul,
ol,
table,
small,
hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  max-width: 66ch;
}

li {
  margin-bottom: 0.75em;
}

small {
  display: inline-block;
  font-size: 80%;
  line-height: 1.25em;
  color: #666;
}

hr {
  border: none;
  background-color: var(--c-border);
  height: 1px;
  margin-left: 0;
  margin-right: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-condensed);
  margin: 1.25em 0 0.25em;
  line-height: 1.2;
  max-width: 60ch;
}

h1 {
  margin-top: 0;
}

h1 {
  font-size: 2.074em;
}
  
h2 {
  font-size: 1.728em;
}
  
h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

a:not(:hover) {
  text-decoration: none;
}

blockquote {
  border-left: 2px solid #888;
  margin-left: 0;
  padding-left: 1.25em;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 4px 8px;
  border-bottom: 1px solid var(--c-border);
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

code, kbd, samp, pre {
  font-feature-settings: "liga" 1;
  font-family: var(--ff-monospace);
}
